#align{
	text-align: left;
}
.para{
	color: #ffffff;
	/*margin-left: 40px;*/
	/*width: 80%;*/
}
.para1{
	color: #ffffff;
	width: 80%;
}
.txtclr{
	color: #ffffff;
	
}
.tablestyles{
	/*margin-left: 100px;*/
}
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #4CAF50;
  color: white;
}
